/* cuadricula.css */

body{
  font-family: 'Ubuntu', sans-serif;
}
.container {
  width : 940px;
  margin: 0 auto;
}
.span1{ width: 60px;}
.span2{ width: 140px;}
.span3{ width: 220px;}
.span4{ width: 300px;}
.span5{ width: 380px;}
.span6{ width: 460px;}
.span7{ width: 540px;}
.span8{ width: 620px;}
.span9{ width: 700px;}
.span10{ width: 780px;}
.span11{ width: 860px;}
.span12{ width: 940px;}

/* .span1,
.span2,
.span3,
.span4,
.span5,
.span6,
.span7,
.span8,
.span9,
.span10,
.span11,
.span12 {
  float: left;
  margin-left: 20px; 
} ESTO SE RESUME en la siguiente regla*/

[class*="span"] {
  float      : left;
  margin-left: 20px;
}

.row{
  margin-left: -20px;
  display    : block;
}

.row:before, .row:after{
  clear  : both;
  content: "";
} 

.fuente-icon{
  font-family: 'any-old-icon';
  font-size: 100px;
}
