/* cuadricula.css */

body{
  font-family: 'Ubuntu', sans-serif;
}
.container {
  width : 940px;
  margin: 0 auto;
}
.span1{ width: 60px;}
.span2{ width: 140px;}
.span3{ width: 220px;}
.span4{ width: 300px;}
.span5{ width: 380px;}
.span6{ width: 460px;}
.span7{ width: 540px;}
.span8{ width: 620px;}
.span9{ width: 700px;}
.span10{ width: 780px;}
.span11{ width: 860px;}
.span12{ width: 940px;}

/* .1,
.span2,
.span3,
.span4,
.span5,
.span6,
.span7,
.span8,
.span9,
.span10,
.span11,
.span12 {
  float: left;
  margin-left: 20px; 
} ESTO SE RESUME en la siguiente regla*/

[class*="span"] {
  float      : left;
  margin-left: 20px;
}

.row {
  margin-left: -20px;
}

.row:after,
.row:before {
  display: block;
  content: "";
  clear: both;
}

.fuente-icon{
  font-family: 'any-old-icon';
  font-size: 100px;
}


body {
  font-family: Ubuntu;
}

img {
  max-width: 100%;
}



/*MARGIN TOP*/
.mt10 { margin-top: 10px; }
.mt20 { margin-top: 20px; }
.mt30 { margin-top: 30px; }
.mt40 { margin-top: 40px; }
.mt50 { margin-top: 50px; }

/*MARGIN BOTTOM*/
.mb10 { margin-bottom: 10px; }
.mb20 { margin-bottom: 20px; }
.mb30 { margin-bottom: 30px; }
.mb40 { margin-bottom: 40px; }
.mb50 { margin-bottom: 50px; }

/*MARGIN RIGTH*/
.mr10 { margin-right: 10px; }
.mr20 { margin-right: 20px; }
.mr30 { margin-right: 30px; }
.mr40 { margin-right: 40px; }
.mr50 { margin-right: 50px; }

/*MARGIN LEFT*/
.ml10 { margin-left: 10px; }
.ml20 { margin-left: 20px; }
.ml30 { margin-left: 30px; }
.ml40 { margin-left: 40px; }
.ml50 { margin-left: 50px; }

/*Padding TOP*/
.pt10 { padding-top: 10px; }
.pt20 { padding-top: 20px; }
.pt30 { padding-top: 30px; }
.pt40 { padding-top: 40px; }
.pt50 { padding-top: 50px; }

/*Padding BOTTOM*/
.pb10 { padding-bottom: 10px; }
.pb20 { padding-bottom: 20px; }
.pb30 { padding-bottom: 30px; }
.pb40 { padding-bottom: 40px; }
.pb50 { padding-bottom: 50px; }

/*Padding Right*/
.pr10 { padding-right: 10px; }
.pr20 { padding-right: 20px; }
.pr30 { padding-right: 30px; }
.pr40 { padding-right: 40px; }
.pr50 { padding-right: 50px; }

/*Padding LEFT*/
.pl10 { padding-left: 10px; }
.pl20 { padding-left: 20px; }
.pl30 { padding-left: 30px; }
.pl40 { padding-left: 40px; }
.pl50 { padding-left: 50px; }