 body{
  background: black;
  overflow:hidden;
  width:100%;
}

@-webkit-keyframes "waka" {
 50% {
   border-bottom: 0 solid transparent;
   border-top: 0 solid transparent;
   top: 50px;
 }

}

@-webkit-keyframes movida-right{
  0%{
    left: 5%;
  }
  26%{
    left: 100%;
  }
  100%{
    left: 100%;
  }
}

@-webkit-keyframes movida-left{
  0%{
    right: 0;
    opacity: 1;
  }
  26%{
    right: 80%;
    opacity: 1;
  }
  27%{
    right: 80%;
    opacity: 0;
  }
  100%{
    right: 80%;
    opacity: 0;
  }
}



.mouth {
  -webkit-animation: waka 0.3s infinite;
  -moz-animation: waka 0.3s infinite;
  -ms-animation: waka 0.3s infinite;
  -o-animation: waka 0.3s infinite;
  animation: waka 0.3s infinite;
  border-top: 50px solid transparent;
  border-bottom: 50px solid transparent;
  border-right: 50px solid black;
  position: absolute;
  right: 0;
}

#pacman{
  left: 100%;
  -webkit-animation: movida-right 12s infinite 3.24s;
}

#pacman-back{
  -webkit-animation: movida-left 12s infinite ;
}
.mouth-back {
  -webkit-animation: waka 0.3s infinite;
  border-top: 50px solid transparent;
  border-bottom: 50px solid transparent;
  border-left: 50px solid black;
  position: absolute;
}

@-webkit-keyframes seed{
  18%{
    opacity: 1;
  }
  19.5%{
    opacity: 0;
  }
  98%{
    opacity: 0;
  }  
  99%{
    opacity: 1;
  }
}

#circulo{
  width            : 24px;
  height           : 24px;
  border-radius    : 12px;
  background-color : #EFA81D;
  position         : relative;
  left             : 35px;
  top              : 35px;
  -webkit-animation: seed 12s infinite;
}

.mouth-back {

}

.font-pacman{
  font-family: 'icomoon';
}


@-webkit-keyframes movida-fantasma{
  0%{
    right: 0;
    opacity: 1;
  }
  20%{
    right: 60%;
    opacity: 1;
  }
  21%{
    right: 60%;
    opacity: 0;
  }
  100%{
    right: 60%;
    opacity: 0;
  }
}
.pacman{  
  background: #fffc07;
  border-radius: 100%;
  height: 100px;
  position: absolute;
  width: 100px;
}
.fantasma{
  right: -20%;
  position: absolute;
  top:10px;
  color: #8131AB;
  font-size: 90px;
  -webkit-animation: movida-fantasma 12s infinite 1s;
}

.fantasma.blinky{
  right: -40%;
  color: #BB111D;
  -webkit-animation: movida-fantasma 12s infinite 1.3s;
}

