/* 

  min-width
  max-width
  orientation: portrait/landscape
  resolution: 200ppi
  print
  screen
 */


@media (min-width: 1200px) {

  .container {
    width: 1170px;
    margin: 0 auto;
  }

  .span1  { width: 70px;   }
  .span2  { width: 170px;  }
  .span3  { width: 270px;  }
  .span4  { width: 370px;  }
  .span5  { width: 470px;  }
  .span6  { width: 570px;  }
  .span7  { width: 670px;  }
  .span8  { width: 770px;  }
  .span9  { width: 870px;  }
  .span10 { width: 970px;  }
  .span11 { width: 1070px; }
  .span12 { width: 1170px; }

  [class*="span"] {
    float: left;
    margin-left: 30px;
  }

  .row {
    margin-left: -30px;
  }

  .menu a {

  }

}
/* 
  Tamano para Tablets en portrait
  ===============================

  Columnas de 42px de ancho
  Gutter de 20px
  Container de 724px
 */
@media (max-width: 940px) and (min-width: 768px) {
  .container {
    width: 724px;
    margin: 0 auto;
  }

  .span1  { width: 42px;  }
  .span2  { width: 104px; }
  .span3  { width: 166px; }
  .span4  { width: 228px; }
  .span5  { width: 290px; }
  .span6  { width: 352px; }
  .span7  { width: 414px; }
  .span8  { width: 476px; }
  .span9  { width: 538px; }
  .span10 { width: 600px; }
  .span11 { width: 662px; }
  .span12 { width: 724px; }

  [class*="span"] {
    float: left;
    margin-left: 20px;
  }

  .row {
    margin-left: -20px;
  }
}

/* mobiles */
@media (max-width: 768px) {
  .container {
    width: 100%;
    margin: 0 auto;
  }

  .span1  { width: 100%; }
  .span2  { width: 100%; }
  .span3  { width: 100%; }
  .span4  { width: 100%; }
  .span5  { width: 100%; }
  .span6  { width: 100%; }
  .span7  { width: 100%; }
  .span8  { width: 100%; }
  .span9  { width: 100%; }
  .span10 { width: 100%; }
  .span11 { width: 100%; }
  .span12 { width: 100%; }

  
  [class*="span"] {
    width: 100%;
  }

  [class*="span"] {
    float: none;
    margin-left: 0;
    margin-bottom: 20px;
  }

  .row {
    margin-left: 0px;
  }

  #content article {
    height: auto;
  }

  .actions-mobile {
    display: block;
  }

  .menu {
    height: 0;
    overflow: hidden; 
    /* 
    visibility: hidden;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;  */

    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
  }


  .menu.show {
    height: auto;/* s
    visibility: visible;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1; */
  }


  .menu li {
    float: none;
  }

  .menu.menu-v {
    width: 220px;
    position: fixed;
    height: 100%;
    top: 0px;
    left: -220px;
    z-index: 1000;
  }

  .menu.menu-v.show {
    left: 0;
  }

}