/*animacion3.css*/

@keyframes "buhotres" {
 0% {
    background-image: url("../images/buhovolador1.png");
      background-repeat: no-repeat;
      left: 50%;
      top: 50%;
      width: 210px;
      height: 190px;
 }
 25% {
    background-image: url("../images/buhovolador2.png");
      background-repeat: no-repeat;
      left: 100%;
      top: 0;
      width: 210px;
      height: 190px;
 }
 75% {
    background-image: url("../images/buhovolador1.png");
      background-repeat: no-repeat;
      left: 0;
      top: 20%;
      width: 210px;
      height: 190px;
 }
 100% {
    background-image: url("../images/buhovolador2.png");
      background-position: -1870px 0;
      left: 50%;
      top: 50%;
      width: 210px;
      height: 190px;
 }

}

@-moz-keyframes buhotres {
 0% {
   background-image: url("../images/buhovolador1.png");
   background-repeat: no-repeat;
   left: 50%;
   top: 50%;
   width: 210px;
   height: 190px;
 }
 25% {
   background-image: url("../images/buhovolador2.png");
   background-repeat: no-repeat;
   left: 100%;
   top: 0;
   width: 210px;
   height: 190px;
 }
 75% {
   background-image: url("../images/buhovolador1.png");
   background-repeat: no-repeat;
   left: 0;
   top: 20%;
   width: 210px;
   height: 190px;
 }
 100% {
   background-image: url("../images/buhovolador2.png");
   background-position: -1870px 0;
   left: 50%;
   top: 50%;
   width: 210px;
   height: 190px;
 }

}

@-webkit-keyframes "buhotres" {
 0% {
   background-image: url("../images/buhovolador1.png");
   background-repeat: no-repeat;
   left: 50%;
   top: 50%;
   width: 210px;
   height: 190px;
 }
 25% {
   background-image: url("../images/buhovolador2.png");
   background-repeat: no-repeat;
   left: 100%;
   top: 0;
   width: 210px;
   height: 190px;
 }
 75% {
   background-image: url("../images/buhovolador1.png");
   background-repeat: no-repeat;
   left: 0;
   top: 20%;
   width: 210px;
   height: 190px;
 }
 100% {
   background-image: url("../images/buhovolador2.png");
   background-position: -1870px 0;
   left: 50%;
   top: 50%;
   width: 210px;
   height: 190px;
 }

}

@-ms-keyframes "buhotres" {
 0% {
   background-image: url("../images/buhovolador1.png");
   background-repeat: no-repeat;
   left: 50%;
   top: 50%;
   width: 210px;
   height: 190px;
 }
 25% {
   background-image: url("../images/buhovolador2.png");
   background-repeat: no-repeat;
   left: 100%;
   top: 0;
   width: 210px;
   height: 190px;
 }
 75% {
   background-image: url("../images/buhovolador1.png");
   background-repeat: no-repeat;
   left: 0;
   top: 20%;
   width: 210px;
   height: 190px;
 }
 100% {
   background-image: url("../images/buhovolador2.png");
   background-position: -1870px 0;
   left: 50%;
   top: 50%;
   width: 210px;
   height: 190px;
 }

}

@-o-keyframes "buhotres" {
 0% {
   background-image: url("../images/buhovolador1.png");
   background-repeat: no-repeat;
   left: 50%;
   top: 50%;
   width: 210px;
   height: 190px;
 }
 25% {
   background-image: url("../images/buhovolador2.png");
   background-repeat: no-repeat;
   left: 100%;
   top: 0;
   width: 210px;
   height: 190px;
 }
 75% {
   background-image: url("../images/buhovolador1.png");
   background-repeat: no-repeat;
   left: 0;
   top: 20%;
   width: 210px;
   height: 190px;
 }
 100% {
   background-image: url("../images/buhovolador2.png");
   background-position: -1870px 0;
   left: 50%;
   top: 50%;
   width: 210px;
   height: 190px;
 }

}